$main-bg-text-color: #ffffff; 
$accent-color: #FF6B08;
$secondary-text-colour: #000000;
$footer-text-colour: #545454;
$error-text-colour: #FF001B;
$light-gray-description-box: #8C8C8C;
$modal-bg-colour: #EFEFEF;

$duration-main: 250ms; //время для анимации текста
$timing-function-main: cubic-bezier(0.4, 0, 0.2, 1); // самая частая функция времени для анимации

