$main-bg-text-color: #ffffff;
$accent-color: #ff6b08;
$secondary-text-colour: #000000;
$footer-text-colour: #545454;
$error-text-colour: #ff001b;
$light-gray-description-box: #8c8c8c;
$modal-bg-colour: #efefef;
$footer-bgc: #f7f7f7;

$duration-main: 250ms; //время для анимации текста
$timing-function-main: cubic-bezier(0.4, 0, 0.2, 1); // самая частая функция времени для анимации
