
<footer class="footer">
    <div class="footer__box container">
        <h2 class="footer__text">
            <span>© 2021 | All Rights Reserved |</span>
            Developed with                
            <svg class="footer__icon">
                <use href="./images/sprite.svg#heart"></use>
            </svg> by
            <!-- <button id="team-open">GoIT Students</button> -->
            <a id="team-open">GoIT Students</a>
        </h2>
    </div>
    <div id="team" class="visually-hidden">
        <div class="team__backdrop"></div>
        <div  class="team ">
            <button width="500" type="button" id="team-close" class="team__btn-close">
                <svg class="modal__btn-icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-modal-close"></use>
                </svg>
            </button>
            <div class="team__title-wrap"><h2 class="section-title">[run-dev-u]</h2></div>
            <div class="team__members">
                <div class="team__members-main">                        
                    <ul>
                    <li class="team__item">
                        <picture class="team__photo">
                            <img src="./images/team/Zhenya.jpg" alt="Женя" class="team__photo" width="100%"/>
                        </picture>
                        <div class="team__item_description">
                            <h3 class="team__item_name">Yevhenii Bezeha</h3>
                            <p class="team__item_profession">Team Leader</p>
                            <ul class="social__icon_list">
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://instagram.com/yevbezega">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#icon-instagram"></use>
                                        </svg>
                                        </a>
                                </li>
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://github.com/Yevhenii-Bezeha">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#github"></use>
                                        </svg>
                                        </a>
                                </li>
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://www.facebook.com/profile.php?id=100017273652115">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#icon-facebook"></use>
                                        </svg>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team__item">
                        <picture class="team__photo">
                            <img src="./images/team/Vanya-1.48d3c3f1.jpg" alt="Ваня" class="team__photo"  width="100%"/>
                        </picture>
                        <div class="team__item_description">
                            <h3 class="team__item_name">Ivan Markushyn</h3>
                            <p class="team__item_profession">Scrum Master</p>
                            <ul class="social__icon_list">
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://instagram.com/ivan_markushyn">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#icon-instagram"></use>
                                        </svg>
                                        </a>
                                </li>
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="ttps://github.com/Vafh">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#github"></use>
                                        </svg>
                                        </a>
                                </li>
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://www.facebook.com/profile.php?id=100013133266943">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#icon-facebook"></use>
                                        </svg>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    </ul>
                </div>

                <div class="team__members-developers">
                    <ul class="team__members-developers-el">
                        <li class="team__item">
                            <picture class="team__photo">
                                <img src="./images/team/Dima-D-1.97789e67.jpg" alt="Дима" class="team__photo"  width="100%"/>
                            </picture>
                            <div class="team__item_description">
                                <h3 class="team__item_name">Dmytrii Dovhopol</h3>
                                <p class="team__item_profession">Frontend Developer</p>
                                <ul class="social__icon_list">
                                    <!-- <li class="social__icon_list_item">
                                        <a class="social__link" href="">
                                            <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                            <use href="./images/sprite.svg#icon-instagram"></use>
                                            </svg>
                                            </a>
                                    </li> -->
                                    <li class="social__icon_list_item">
                                        <a class="social__link" href="https://github.com/13dds13">
                                            <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                            <use href="./images/sprite.svg#github"></use>
                                            </svg>
                                            </a>
                                    </li>
                                    <!-- <li class="social__icon_list_item">
                                        <a class="social__link" href="">
                                            <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                            <use href="./images/sprite.svg#icon-facebook"></use>
                                            </svg>
                                            </a>
                                    </li> -->
                                </ul>
                            </div>
                        </li>
                        <li class="team__item">
                            <picture class="team__photo">
                                <img src="./images/team/Bogdan-1.07bccca1.jpg" alt="Бодя" class="team__photo"  width="100%"/>
                            </picture>
                            <div class="team__item_description">
                                <h3 class="team__item_name">Bohdan Yatsyk</h3>
                                <p class="team__item_profession">Frontend Developer</p>
                                <ul class="social__icon_list">
                                    <!-- <li class="social__icon_list_item">
                                        <a class="social__link" href="">
                                            <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                            <use href="./images/sprite.svg#icon-instagram"></use>
                                            </svg>
                                            </a>
                                    </li> -->
                                    <li class="social__icon_list_item">
                                        <a class="social__link" href="https://github.com/bod111">
                                            <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                            <use href="./images/sprite.svg#github"></use>
                                            </svg>
                                            </a>
                                    </li>
                                    <!-- <li class="social__icon_list_item">
                                        <a class="social__link" href="">
                                            <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                            <use href="./images/sprite.svg#icon-facebook"></use>
                                            </svg>
                                            </a>
                                    </li> -->
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <ul class="team__members-developers-el">
                    <li class="team__item">
                        <picture>
                            <img src="./images/team/Nadya-1.b70e2719.jpg" alt="Надя" class="team__photo" width="100%"/>
                        <picture class="team__photo">
                            <div class="team__item_description">
                            <h3 class="team__item_name">Nadiia Matsko</h3>
                            <p class="team__item_profession">Frontend Developer</p>
                            <ul class="social__icon_list">
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://instagram.com/nadyamatsko">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#icon-instagram"></use>
                                        </svg>
                                        </a>
                                </li>
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://github.com/NadiiaMatsko">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#github"></use>
                                        </svg>
                                        </a>
                                </li>
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://www.facebook.com/nadiia.matsko/">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#icon-facebook"></use>
                                        </svg>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team__item">
                        <picture class="team__photo">
                            <img src="./images/team/Dima-K-1.80c82976.jpg" alt="Дима К" class="team__photo"  width="100%"/>
                        </picture>
                        <div class="team__item_description">
                            <h3 class="team__item_name">Dmytro Krutous</h3>
                            <p class="team__item_profession">Frontend Developer</p>
                            <ul class="social__icon_list">
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://instagram.com/3dtech.co.ua">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#icon-instagram"></use>
                                        </svg>
                                        </a>   
                                </li>
                                <li class="social__icon_list_item">
                                    <a class="social__link" href="https://github.com/3dtechdima">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#github"></use>
                                        </svg>
                                        </a>
                                </li>
                                <!-- <li class="social__icon_list_item">
                                    <a class="social__link" href="">
                                        <svg class="social__icon social__icon_grey-fill" width="25" height="25">
                                        <use href="./images/sprite.svg#icon-facebook"></use>
                                        </svg>
                                        </a>
                                </li> -->
                            </ul>
                        </div>
                    </li>
                    </ul>
                </div>    
            </div>
        </div>
    </div>
</footer>
