<header class="header">   
    <div class="container">
        <div class="header-nav">
            <a
            href=""
            class="header-nav__logo"
            id="nav-logo"
            >
                <svg class="header-nav__icon" width="24" height="24">
                    <use href="./images/sprite.svg#film_logo"></use>
                </svg>
                <h1 class="header-nav__title">Filmoteka</h1>
            </a>
            <ul class="header-nav__list">
                <li class="header-nav__list-item">
                    <a 
                    href=""
                    class="header-nav__list-item-link current"
                    id="home-page">Home</a>
                </li>
                <li class="header-nav__list-item">
                    <a
                    href=""
                    class="header-nav__list-item-link library"
                    id="library-page">My library</a>
                </li>
            </ul>
        </div>

        <div>
            <form
            action=""
            class="search-film__form"
            id="search-form"
            autocomplete="off"
            >
            <div class="search-film__input">
                <input
                type="text"
                name="search"
                placeholder="Поиск фильмов"
                class="input input__form"
                />
                <button class="input__btn">
                    <svg class="input__btn-icon" width="12" height="12">
                        <use href="./images/sprite.svg#search"></use>
                    </svg>
                </button>
            </div>
            <div class="search-film__notifications">
                <p class="search-film__errors visually-hidden">
                Search result not successful. Enter the correct movie name
                </p>
            </div>
            </form>
        </div>
        <div class="library__navigation">
            <button type="button" class="watched-show-btn visually-hidden">
            Watched
            </button>
            <button type="button" class="queue-show-btn visually-hidden">Queue</button>
        </div>
    </div>
</header>
