<div class="backdrop visually-hidden">
  <div class="modal">
    <button type="button" class="modal__btn-close">
      <svg class="modal__btn-icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="modal__container">
      <div class="modal__movie-container js-movie-data" data-year=""></div>
      <div id="modalBtnWrap">
        <button id="watchedBtn" class="modal__btn modal__btn_accent-style" type="button">
          add to watched
        </button>
        <button id="queueBtn" class="modal__btn" type="button">add to queue</button>
      </div>
    </div>
  </div>
</div>
