.movi-card {
  border-radius: 5px;
  background-color: $main-bg-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  -webkit-box-shadow: 1px 1px 13px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 1px 13px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 13px 3px rgba(34, 60, 80, 0.2);

  margin-bottom: 20px;
  margin-left: 30px;
  @include for-tablet {
    flex-basis: calc((100% / 2) - 30px);
    margin-bottom: 30px;
  }
  @include for-desktop {
    margin-bottom: 30px;
    flex-basis: calc((100% / 3) - 30px);
  }
  &__picture {
    border-radius: 5px;
    margin-bottom: 10px;
    height: 398px;
    width: 280px;
    @include for-tablet {
      width: 294px;
    }
    @include for-desktop {
      width: 274px;
    }
  }
  &__title {
    text-transform: uppercase;
  }
  &__fetures {
    color: $accent-color;
  }
  &__rectangle {
    width: 36px;
    height: 16px;
    background-color: $accent-color;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-bg-text-color;
    padding-top: 1px;
    margin-left: 10px;
  }
  &__fetures-box {
    display: flex;
    align-items: center;
  }
}
.gallary-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 20px;
  margin-left: -30px;
}
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}
.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
.movi-card:focus,
.movi-card:hover {
  transform: scale(1.04);
  transition: 500ms;
  cursor: pointer;
}
