.movi-card {
  background-color: $cards-bg-colour;
  font-weight: 500;
  font: size 12px;
  line-height: 1.17;
  &__title {
    text-transform: uppercase;
  }
  &__fetures {
    color: $accent-color;
  }
  &__rectangle {
    width: 36px;
    height: 16px;
    background-color: $accent-color;
  }
}
