.backdrop {
  position: fixed;
  height: 110%;
  width: 100%;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.5);

  @include for-desktop {
    overflow-y: inherit;
  }
}

.body_modal-open {
  overflow: hidden;
  // filter: blur(5px);
}

.modal-for-movie {
  position: fixed;
  width: 280px;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 48px 20px;
  background-color: $main-bg-text-color;

  @include for-tablet {
    top: 230px;
    width: 618px;
    padding: 42px 29px;
  }

  @include for-desktop {
    top: 100px;
    width: 882px;
  }
}
.modal__vote {
  display: inline-block;
  height: 16px;
  width: 32px;
  text-align: center;
  border-radius: 5px;
  background-color: $accent-color;
}

.modal__movie-container {
  margin-bottom: 21px;
  font-weight: 500;
  color: $secondary-text-colour;

  @include for-tablet {
    display: flex;
  }
}

.modal__poster {
  border-radius: 5px;
  margin-bottom: 30px;
  object-fit: contain;

  @include for-tablet {
    margin-bottom: 0;
    width: 264px;
    height: 373px;
    margin-right: 32px;
  }

  @include for-desktop {
    width: 396px;
    height: 478px;
  }
}

.modal__title,
.modal__about,
.modal__btn {
  text-transform: uppercase;
}

.modal__title {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.15;

  @include for-desktop {
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal__stat {
  display: flex;
  margin-bottom: 20px;

  &-list {
    margin-right: 40px;
  }

  &-list > &-item {
    color: $light-gray-description-box;
  }

  &-item {
    line-height: 1.33;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.modal__about {
  margin-bottom: 10px;
}

.modal__desc {
  line-height: 1.67;
}

.modal__btn-wrap {
  @include for-tablet {
    display: flex;
    justify-content: end;
  }
}

.modal__btn {
  vertical-align: bottom;
  font-size: inherit;
  font-weight: 500;
  width: 112px;
  height: 44px;

  border: 1px solid $secondary-text-colour;
  border-radius: 5px;

  background-color: $main-bg-text-color;

  @include for-tablet {
    width: 125px;
  }

  &_accent-style {
    background-color: $accent-color;
    color: $main-bg-text-color;
    border: none;
  }
}

.modal__btn:not(:last-child) {
  margin-right: 12px;
  @include for-tablet {
    margin-left: auto;
    margin-right: 30px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.modal__btn-icon {
  stroke: $secondary-text-colour;
}
