/* begin Demo Not necessary  */
h1 {
  text-align: center;
}

.matrix {
  margin: auto;
  text-align: justify;
}
/* begin Demo Not necessary   */

/* begin begin Back to Top button  */
.marker.hight {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 25px;
  line-height: 37px;
}
.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 11px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  background: $accent-color;
  color: #444;
  cursor: pointer;
  border-radius: 22.5px;

  display: none;
}

.back_to_top:hover {
  background: #ff6b01de;
  text-decoration: none;
}

.back_to_top-show {
  display: block;
}

/* end begin Back to Top button  */
